#login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 50px 20px;
    background-color: #f8f8f8;
    margin-top: 80px;
}

.text-container {
    flex: 3;
    font-size: 1.5em;
}

.login-container {
    flex: 1;
    max-width: 400px;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 1.2em;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

h2, h4{
    text-align: center;
}
