.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-title {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #fff;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 1.8em;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    border-radius: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.15em;
    padding: 20px;
    box-sizing: border-box;
}

.navbar a:hover {
    background: #555;
}
